# http://www.gnu.org/software/autoconf
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/config.status
/config.log
/config.h
/config.h.in

# http://www.gnu.org/software/automake
Makefile.in
Makefile

# object files, libraries and binaries
.deps
*.o
sqd
